{% extends '../web/base.html' %}

{% block content %}


<div class="container">
    <br><br><br><br>
    <div class="row">
        <div class="col card section s12 m7">

            {% if form.errors %}
            {% comment %} <p>There was an error with your form...</p> {% endcomment %}

            <div class="card-content red-text">
                {{ form.errors }}
            </div>

            {% endif %}

            <h2>Regístro</h2>
            <form action="{% url 'register_user' %}" method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} <form> {% endcomment %}

                <button type="submit" class="save btn btn-default green">Guardar</button>
            </form>
            <br><br><br><br>

        </div>
    </div>
    <br><br><br><br>
</div>

{% endblock %}