{% extends './base.html' %}
{% load static %}

{% block title %}michify{% endblock title %}

{% block content %}
    <div class="container bb">





      <div class="row">

        <div class="col s12 m4">
          <p> Promo Content 1 goes here</p>
        </div>
        <div class="col s12 m4">
          <p> Promo Content 2 goes here</p>
        </div>
        <div class="col s12 m4">
          <p> Promo Content 3 goes here</p>
        </div>
  
      </div>
          
      
    </div>



    
    <script src="{% static '/web/js/title.js' %}"></script>
{% endblock %}