{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Hello World {% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static '/web/img/favicon.ico' %}"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/web/css/style.css' %}">
</head>
<body class="blue-grey darken-4">




  <div class="bar_log purple darken-4">
    {% if user.is_authenticated %}
    
    <div class="log">
      <span class="pink-text text-accent-1">
      Hola {{user.first_name}} {{user.last_name}} !
      </span>
    </div>
    <div class="log">
      <a class="pink-text text-accent-1" href="{% url 'my_messages' %}">mis comentarios</a>
      <a class="teal-text text-accent-4" href="{% url 'logout' %}">logout</a>
    </div>

    {% else %}
    
    <div class="log">
    </div>  
    <div class="log">
      <a class="teal-text text-accent-4" href="{% url 'register_user' %}">register</a>
      <a class="teal-text text-accent-4" href="{% url 'login' %}">login</a>
    </div>  
    
    {% endif %}
  
  </div>

    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">
              <img class="logo" src="{% static '/web/img/isologo.svg' %}" alt="Michify">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li {% if sel == 'about' %} class="active" {% endif %}><a href="{% url 'about' %}">Nosotros</a></li>
              <li {% if sel == 'all' %} class="active" {% endif %}><a href="{% url 'all' %}">Listas</a></li>
              <li {% if sel == 'blog' %} class="active" {% endif %}><a href="{% url 'blog' %}">Blog</a></li>
              <li {% if sel == 'subscribe' %} class="active" {% endif %}><a href="{% url 'subscribe' %}">Suscribirse</a></li>
              <li {% if sel == 'contact' %} class="active" {% endif %}><a href="{% url 'contact' %}">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li {% if sel == 'about' %} class="active" {% endif %}><a href="{% url 'about' %}">Nosotros</a></li>
      <li {% if sel == 'all' %} class="active" {% endif %}><a href="{% url 'all' %}">Listas</a></li>
      <li {% if sel == 'blog' %} class="active" {% endif %}><a href="{% url 'blog' %}">Blog</a></li>
      <li {% if sel == 'subscribe' %} class="active" {% endif %}><a href="{% url 'subscribe' %}">Suscribirse</a></li>
      <li {% if sel == 'contact' %} class="active" {% endif %}><a href="{% url 'contact' %}">Contacto</a></li>
    </ul>

    <header>
        
    </header>

    {% block content %}contenido{% endblock content %}

    <footer class="page-footer cyan darken-1">
        <div class="container">
          <div class="row">
            <div class="col l6 s12 m8">
              <h5 class="white-text">michify</h5>
              <p class="grey-text text-lighten-4">Es una lista de lista hechar por artistas</p>
            </div>
            <div class="col l4 offset-l2 s12 m4">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="{% url 'about' %}">about</a></li>
                <li><a class="grey-text text-lighten-3" href="{% url 'json' %}">json</a></li>
                <li><a class="grey-text text-lighten-3" href="{% url 'fakejson' %}">fakejson</a></li>
                <li><a class="grey-text text-lighten-3" href="{% url 'data' %}">data</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2022 idd.cl
          <a class="grey-text text-lighten-4 right" href="./admin/">admin</a>
          </div>
        </div>
      </footer>
      <script src="{% static '/web/js/colors.js' %}"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.parallax');
      var instances = M.Parallax.init(elems);

      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
  
    });
  
    </script>


</body>
</html>




