{% extends './base.html' %}
{% load static %}

{% block title %}Blog{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <br><br><br><br>
        <div class="col-md-12 card">
            <br><br>
            <div class="row">
            {% for item in post_results %}
                <div class="col card section s10 offset-s1" style="padding:20px 50px;">
                    <h5>{{ item.title }}</h5>
                    <img src="{{ item.photo }}"/>
                    <p>{{ item.text }}</p>
                </div>    
            {% endfor %}
            </div>
            
            <br><br>
      </div>
      <br><br><br><br>
    </div>
  </div>

{% endblock %}